{% extends 'main.html' %}

{% block title %}


<!-- "dict = dict, card_count = card_count" -->
<!-- dict는 key = week category / card_count = 카드개수, 더미개수, 콜렉션(카드의 단) 개수 -->

{% for key, value in dict.items() %}
{% if card_count[key]['collectionCount'] >= 2 %}

<!-- if collection >= 2 (카드가 2개 단 이상일때) -->

<!-- 타이틀 부분 -->
<div class="album py-5 bg-light week-form" id="category-list2">
  <h1> {{ key }} </h1>
  {% set count_two = namespace(value=1) %}
  <div id="{{key}}" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for temp in value %}
      {% if count_two.value == 1 %}

      <!-- 제일 첫번째 카드일 때  -->
      <div class="carousel-item active">
        <div class="row cards">
          <div class="card col card-form" style="width: 18rem;">
            <img src="https://img.youtube.com/vi/{{ temp['url'] }}/mqdefault.jpg" alt="유튜브 썸네일" class="" alt="..."
              style="height: 150px; width:auto;" onclick="videoModaladd(this)" id="{{temp['url']}}"
              data-bs-toggle="modal" data-bs-target="#videoModal">
            <div class="card-body">
              <p class="card-text">{{ temp['comment'] }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <a><i class="bi bi-fire"></i>{{ temp['like'] }} </a>
                <button type="button" class="btn btn-link" onclick="likeClick(this)" value="{{temp['url']}}"><i
                    class="bi bi-chat-heart"></i></button>
              </div>
            </div>
          </div>


          {% elif (count_two.value // 4 >= 1) and (count_two.value % 4 == 1) %}
          <!-- 두번째단 이상인데 첫번째 카드일 때 -->
          <div class="carousel-item">
            <div class="row cards">
              <div class="card col card-form" style="width: 18rem;">
                <img src="https://img.youtube.com/vi/{{ temp['url'] }}/mqdefault.jpg" alt="유튜브 썸네일" class="" alt="..."
                  style="height: 150px; width:auto;" onclick="videoModaladd(this)" id="{{temp['url']}}"
                  data-bs-toggle="modal" data-bs-target="#videoModal">
                <div class="card-body">
                  <p class="card-text">{{ temp['comment'] }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a><i class="bi bi-fire"></i>{{ temp['like'] }} </a>
                    <button type="button" class="btn btn-link" onclick="likeClick(this)" value="{{temp['url']}}"><i
                        class="bi bi-chat-heart"></i></button>
                  </div>
                </div>
              </div>


              {% elif (count_two.value % 4 == 2) or (count_two.value % 4 == 3) %}
              <!-- 두번째, 세번째 카드일 때 -->
              <div class="card col card-form" style="width: 18rem;">
                <img src="https://img.youtube.com/vi/{{ temp['url'] }}/mqdefault.jpg" alt="유튜브 썸네일" class="" alt="..."
                  style="height: 150px; width:auto;" onclick="videoModaladd(this)" id="{{temp['url']}}"
                  data-bs-toggle="modal" data-bs-target="#videoModal">
                <div class="card-body">
                  <p class="card-text">{{ temp['comment'] }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a><i class="bi bi-fire"></i>{{ temp['like'] }} </a>
                    <button type="button" class="btn btn-link" onclick="likeClick(this)" value="{{temp['url']}}"><i
                        class="bi bi-chat-heart"></i></button>
                  </div>
                </div>
              </div>



              {% elif count_two.value % 4 == 0 %}
              <!-- 네번째 카드일 때 -->
              <div class="card col card-form" style="width: 18rem;">
                <img src="https://img.youtube.com/vi/{{ temp['url'] }}/mqdefault.jpg" alt="유튜브 썸네일" class="" alt="..."
                  style="height: 150px; width:auto;" onclick="videoModaladd(this)" id="{{temp['url']}}"
                  data-bs-toggle="modal" data-bs-target="#videoModal">
                <div class="card-body">
                  <p class="card-text">{{ temp['comment'] }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a><i class="bi bi-fire"></i>{{ temp['like'] }} </a>
                    <button type="button" class="btn btn-link" onclick="likeClick(this)" value="{{temp['url']}}"><i
                        class="bi bi-chat-heart"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          {% endif %}
          {% set count_two.value = count_two.value + 1 %}
          {% endfor %}
          <!-- 더미 올리기 -->
          {% if card_count[key]['dummyCount'] != 0 %}
          {% for i in range(card_count[key]['dummyCount']) %}
          <div class="card col card-form" style="width: 18rem;">
            <img src="https://i.ytimg.com/vi/yPku0DdMHIw/mqdefault.jpg" alt="유튜브 썸네일" class="" alt="..."
              style="height: 150px; width:auto;">
            <div class="card-body">
              <p class="card-text">영상이 없습니다. 여러분의 도움이 필요해요!</p>
              <div class="d-flex justify-content-between align-items-center">
                <i class="bi bi-emoji-frown"></i>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% else %}
  </div>
  {% endif %}
  <!-- 버튼 넣기 (inner와 같은 라인에) -->
  <div style="text-align:center;">
    <button class="btn btn-light" type="button" data-bs-target="#{{key}}" data-bs-slide="prev">
      <img src="https://cdn-icons-png.flaticon.com/512/467/467274.png" style="height: 20px;" />
    </button>
    <button class="btn btn-light" type="button" data-bs-target="#{{key}}" data-bs-slide="next">
      <img src="https://cdn-icons-png.flaticon.com/512/467/467282.png" style="height: 20px;" />
    </button>
  </div>
</div>
</div>



<!-- if collection <= 1 (카드 단이 한개일 때) -->
{% elif card_count[key]['collectionCount'] <= 1 %} 

<!-- 타이틀 부분 -->
  <div class="album py-5 bg-light" id="category-list2">

    <h1> {{ key }} </h1>
    <div class="row cards">

      <!-- 카드 갯수가 4개 이하이면 class에 action 없이 구현 -->
      <!-- 카드개수표시 : {{ card_count[key]['cardCount'] }} -->
      <!-- dummy 개수 표시 : {{ card_count[key]['dummyCount'] }} -->

      {% set count_one = namespace(value=1) %}
      {% for temp in value %}

      <!-- 카드 박스 -->
      <div class="card col card-form" style="width: 18rem;">
        <img src="https://img.youtube.com/vi/{{ temp['url'] }}/mqdefault.jpg " alt="유튜브 썸네일" class="" alt="..."
          style="height: 150px; width:auto;" onclick="videoModaladd(this)" id="{{temp['url']}}"
          data-bs-toggle="modal" data-bs-target="#videoModal">
        <div class="card-body">
          <p class="card-text">{{ temp['comment'] }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <a><i class="bi bi-fire"></i>{{ temp['like'] }} </a>
            <button type="button" class="btn btn-link" onclick="likeClick(this)" value="{{temp['url']}}"><i
                class="bi bi-chat-heart"></i></button>
          </div>
        </div>
      </div>
      {% set count_one.value = count_one.value + 1 %}
      {% endfor %}

      <!-- dummy 박스 -->
      {% for i in range(card_count[key]['dummyCount']) %}
      <div class="card col card-form" style="width: 18rem;">
        <img src="https://i.ytimg.com/vi/yPku0DdMHIw/mqdefault.jpg" alt="유튜브 썸네일" class="" alt="..."
          style="height: 150px; width:auto;">
        <div class="card-body">
          <p class="card-text">영상이 없습니다. 여러분의 도움이 필요해요!</p>
          <div class="d-flex justify-content-between align-items-center">
            <i class="bi bi-emoji-frown"></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  {% endif %}
  {% endfor %}
  {% endblock %}