<!-- 로그인 박스 구현 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<style>
    .wrap {
        border: 1px solid grey;
        height: 400px;
        width: 300px;
        margin: auto;
        padding: 10px;
        text-align: center;
    }

    .input {
        padding: 20px;
    }
</style>

<body>
    <div class="wrap">
        <h1>로그인</h1>
        <div class="input">
            <p>ID : <input type="text" name="id" value=""></p>
            <p>PW : <input type="password" name="pwd" value=""></p>
        </div>
        <div class="btn">
            <input type="button" value="로그인">
            <input type="button" value="회원가입">
        </div>

    </div>

</body>

</html>